html, body {
  height: 100%;
  min-height: 100%;
  margin: 0;
  padding-top: 40px;
}

.alignCenter {
  text-align: center;
}

.plantEvents {
  ol {
    list-style: disc;
  }
}

.upload {
  width: 100%;
  height: 5rem;
  border-width: 2px;
  border-color: #666;
  border-style: dashed;
  border-radius: 5px;
}

.upload-txt {
  display: block;
  margin: 1rem auto;
  width: 50rem;
}

.tracks {
  ol {
    list-style-type: none;
    padding: 0px;
  }
}

.track {
  width: 100%;
  height: 10rem;
  display: block;
  padding: 1rem;
}

.track-analysis {
  width: 100%;
  height: 5rem;
  display: block;
  border-width: 1px;
  border-color: white;
  border-style: dashed;

  background:
          radial-gradient(black 15%, transparent 16%) 0 0,
          radial-gradient(black 15%, transparent 16%) 8px 8px,
          radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
          radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
  background-color:#282828;
  background-size:16px 16px;
}

.awaiting-analysis {
  display: block;
  margin: 1rem auto;
  width: 50rem;
  color: white;
  text-align: center;
}